// Font

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


// Element

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

// Easy-table override

:root {
  --easy-table-header-font-size: 14px;
  --easy-table-header-height: auto;
  --easy-table-header-item-padding: 10px 15px;

  --easy-table-body-row-height: auto;
  --easy-table-body-row-font-size: 14px;
  --easy-table-body-item-padding: 10px 15px;
}

// Override Vuetify

.v-text-field .v-input__details {
  padding-inline-start: 0;
  padding-inline-end: 0;
}


