// Fon
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


// Element
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

// Easy-table override

:root {
  --easy-table-header-font-size: 14px;
  --easy-table-header-height: auto;
  --easy-table-header-item-padding: 10px 15px;

  --easy-table-body-row-height: auto;
  --easy-table-body-row-font-size: 14px;
  --easy-table-body-item-padding: 10px 15px;
}

// Override Vuetify

.v-text-field .v-input__details {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.text-subtitle-2 {
  font-size: 15px !important;
}

// Custom class component
.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-7 {
  gap: 28px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-10 {
  gap: 40px;
}
